/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

::selection{
  color: #fff;
  background:#00ffee;
}

header{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 0 100px;
    transition: 0.6s;
}

.home {
    position: relative;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(/public/frontend/image/book-image-2.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.login-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    padding: 0 100px;
}

.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 3.1%;
    width: 370px;
    height: 501px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height .2s ease;
}

.wrapper.active{
    height: 480px; 
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
    
}

.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}

.wrapper.active .form-box.register {
    transition: none;
    transform: translateX(-600px);
}

.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.form-box h2{
    font-size: 2em;
    color: white;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid white;
    margin: 30px 0;
}

.input-box2{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid white;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: white;
    pointer-events: none;
    transition: .5s;
}

.input-box2 label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: white;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box2 input:focus~label,
.input-box2 input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: white;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box2 input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: white;
    font-weight: 600;
    padding: 0 35px 0 5px;
    position: relative;
}

.eye{
    position: absolute;
    top: 35%;
    right: 13.7%;
    cursor: pointer;
}

::-ms-reveal {
    filter: invert(100%);
}

.input-box .icon{
    position: absolute;
    right: 8px;
    top: -1px;
    font-size: 1.2em;
    line-height: 57px;
    color: white;
}

.input-box2 .icon{
    position: absolute;
    right: 8px;
    top: 1px;
    font-size: 1.2em;
    line-height: 57px;
    color: white;
}

.remember-forget{
    font-size: .9em;
    color: white;
    font-weight: 600;
    margin: -15px 0 15px;
    text-align: right;
}

.remember-forget label input{
    accent-color: #00ffee;
    margin-right: 3px;
}

.remember-forget a{
    color: white;
    text-decoration: none; 
}

.remember-forget a:hover{
    color: #00ffee;
    text-decoration: underline;
}

.remember-forget2{
    font-size: .9em;
    color: white;
    margin: -15px 0 15px;
    text-align: left;
}

.remember-forget2 label input{
    accent-color:#00ffee;
    margin-right: 3px;
}

.remember-forget2 a{
    color: white;
    text-decoration: none;
}

.remember-forget2 a:hover{
    color:#00ffee;
    text-decoration: underline;
}

.btn{
    width: 100%;
    margin-top: 10px;
    height: 45px;
    background: #00ffee;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
}

.btn:hover{
    background: white;
    color: #00ffee;
}

.login-register{
    font-size: .9em;
    color: white;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
} 

.login-register p{
    font-size: 1.1em;
}

.login-register p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    color:#00ffee;
    text-decoration: underline;
}

/* ----------------- forgot section ------------- */

.home-forgot .wrapper{
    height: 480px;
}

.home-forgot {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4,9,10,0.4), rgba(4,9,10,0.4)), url(Pictures/Forgot_Background.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: white;
    padding: 10px 20px;
    transition: 0.6s;
}

.logo {
    width: 130px;
    height: 100px;
}

.icon3{
    position: absolute;
    right: 8px;
    top: -5px;
    font-size: 1.2em;
    line-height: 60px;
    color: white;
}

#email-icon {
    font-style: normal;
    font-variant: normal;
    line-height: inherit;
    text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}